/* Global */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
    background-color: #112D35;
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#top-scroll {
    width: 55px;
    display: none;
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 2;
    border: none;
    outline: none;
    background-color:#FEC590;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 20px;
    font-size: 18px;
    box-shadow: 0 8px 4px 1px rgba(0,0,0,0.2);
}

#top-scroll img {
    width: 100%;
}
  
#top-scroll:hover {
    background-color:#F76844;
}  

.btn {
    margin-top: 1.5em;
    background-color: #F84444;
    border-radius: 63px;
    color: white;
    padding: 13px 30px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0px 6px 6px rgb(173, 41, 41);
}

.section-title {
    letter-spacing: 0.2em;
    font-size: 1.8em;
    color: #FEC590;
    display: flex;
}

.panel {
    background-color: #5F897F;
    transform: skewY(-2.8deg);
    box-shadow: 0px 4px 4px rgb(0.2, 0, 0);
}

/* Cards */
.scrolling-wrapper {
    padding: 4% 6% 10% 10%;
    transform: skewY(2.8deg);
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.card {
    flex: 0 0 90%;
    margin-right: 2em;
    text-align: left;
    border-radius: 20px;
    color: black;
    background-color: #EEE7CB;
    box-shadow: 0 8px 6px 2px rgba(0,0,0,0.2);
    transition: all .2s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    border-radius: 20px 20px 0 0;
    width: 100%;
}

.card-container {
    display: flex;
    flex-direction: column;
    padding: 0px 1.2em 1.8em;
}

/* Landing Section */
#showcase {
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-image: url(../img/1_Landing/Landing_2)
}

.rutc-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 70vh;
}

.rutc-logo img {
    max-width: 110%;
    height: auto;
}

#showcase .btn {
    animation: move 1s infinite alternate;
}

#showcase .btn:hover {
    background-color: rgb(245, 84, 84);
}

@keyframes move {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(2px);
    }
}

.container {
    text-align: center;
    padding: 10% 7% 3%;
}

.menu {
    display: flex;
    justify-content: left;
}

.hide-mobile {
    display: none;
}

nav ul {
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    text-align: left;
    background: rgb(25, 25, 27);
    padding-top: 2em;
}

nav ul li a {
    display: block;
    width: 100%;
    padding: 1em 2em;
    color: #FEC590;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #FEC590;
    color: rgb(25, 25, 27);
    width: auto;
}

.exit-btn {
    margin-bottom: 1em;
    padding: 0 2em;
}

.exit-btn img{
    width: 35px;
    cursor: pointer;
}

/* Line Up Section */
#line-up {
    color: #FEC590;
    height: 100vh;
}

/* Events Section */
.panel .container {
    transform: skewY(2.8deg)
}

#events .btn {
    background-color: #F76844;
    box-shadow: 0px 6px 6px rgb(170, 66, 25);
}

#events .btn:hover {
    background-color: rgb(243, 125, 95);
}

/* Volunteers Section */
#volunteers .section-title {
    padding: 2em 0 0.5em 0;
}

#volunteers {
    padding-bottom: 8em;
}

.volunteers-container {
    background-image: url(../img/3_Volunteers/1_Volunteers.jpg);
    background-size: cover;
    background-position: center;
}

.volunteers-container .container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 20% 12% 20% 12%;
}

.volunteers-container .container::after {
    background-color: #EEE7CB;
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity : 0.34;
    z-index: 0;
}

#volunteers .btn {
    background-color: #F76844;
    box-shadow: 0px 3px 6px rgb(129, 44, 10);    
    z-index: 1;
    transition: all .2s ease-in-out;
}

#volunteers .btn:hover {
    transform: scale(1.05);
}

#volunteers .btn:hover {
    background-color: rgb(243, 125, 95);
}

/* Explore Section */
#explore .section-title {
    color: #FEC590;
}

#explore .panel {
    background-color: #5F897F;
    transform: skewY(2.8deg);
}

#explore .container {
    transform: skewY(-2.8deg);
}

#explore .scrolling-wrapper {
    transform: skewY(-2.8deg);
}

#explore .card {
    background-color: #EEE7CB;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#explore .btn {
    background-color: #F76844;
    box-shadow: 0px 6px 6px rgb(170, 66, 25);
}

#explore .btn:hover {
    background-color: rgb(243, 125, 95);
}

/* Media Section */
#media {
    text-align: center;
    color: #FEC590;
    background-color: rgb(25, 25, 27);
}

#media a {
    font-size: 20px;
    letter-spacing: 0.1em;
    color: white;
}

#media .section-title {
    padding-bottom: 0.3em;
}

.media-category-video{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    text-align: center;
    padding: 3em 0;
    width: 100%;
    background-image: url(../img/1_Landing/Landing_2);
    background-size: cover;
    background-position: center;
}

.media-category-photo {
    padding: 3em 0;
    width: 100%;
    text-align: center;
    background-image: url(../img/1_Landing/Landing_3);
    background-size: cover;
    background-position: center;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.icons {
    padding: 0 2em 5em;
    display: flex;
    justify-content: center;
}

.icons img {
    width: 70%;
    padding: 0.5em;
    transition: all .15s ease-in-out;
}

.icons img:hover {
    filter: invert();
    transform: scale(1.05);
}

#media p {
    margin:0;
    padding: 2em;
}

/* Responsive designs */
@media only screen and (min-width: 600px) {

    /* Global */
    .container {
        padding: 6% 7% 1%;
    }

    /* Cards */
    .scrolling-wrapper {
        padding: 3% 6% 8% 10%;
    }

    .card {
        flex: 0 0 52%;
    }

    .volunteers-container .container {
        padding: 10% 25% 10% 25%;
    }
}

@media only screen and (min-width: 875px) {

    .container {
        padding: 5% 7% 1%;
    }

    /* Line Up Section */
    #line-up .section-title {
        padding-top: 0.2em;
    }
    
    /* Navigation-bar */
    .show-desktop {
        display: block;
        margin: 0 auto 13% auto;
    }

    .hide-desktop {
        display: none;
    }
    
    #showcase .container {
        padding-top: 0;
    }
    
    #nav {
        margin-bottom: 0;
    }

    nav ul {
        text-align: center;
        position: static;
        padding-top: 0;
        width: auto;
        background: none;
    }

    nav ul li {
        display: inline-block;
    }

    nav ul li a {
        width: auto;        
    }
    
    /* Cards */
    .scrolling-wrapper {
        padding: 3% 6% 5% 10%;
    }

    .card {
        flex: 0 0 40%;
    }
    
    /* Volunteers Section */
    #volunteers .section-title {
        padding-top: 2em;
    }
    
    .volunteers-container .container {
        padding: 10% 7% 10% 62%;
        overflow: hidden;
    }
    
    .volunteers-container .container::after {
        left: 55%;
    }
    
    /* Media Section */
    .media-category {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
}

@media only screen and (min-width: 1024px) {

    /* Global */
    .container {
        padding: 6% 7% 0;
    }

    /* Cards */
    .scrolling-wrapper {
        padding: 3% 6% 6% 10%;
    }

    .card {
        flex: 0 0 30%;
        margin-right: 2em;
    }

    /* Volunteers Section */
    #volunteers {
        padding-bottom: 8em;
    }

    #volunteers .container {
        padding-bottom: 1em;
    }

    .volunteers-container .container {
        padding-top: 8%;
    }

    #volunteers .btn {
        margin: 5% 15% 28% 15%;
    }

    #explore .container {
        padding-top: 3%;
    }
}
/* @media only screen and (min-width: 1600px) {} */