*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5 {
    font-weight: var(--fw-semibold);
    color: var(--clr-orange);
}

:root {
    --clr-red: #F84444;
    --clr-orange: #F76844;
    --clr-accent: #5F897F;
    --clr-light: #EEE7CB;
    --clr-medium: #EEC98F;
    --clr-dark: #19191B;

    --clr-black: black;
    --clr-white: white;

    --fw-semibold: 600;
    --fw-bold: 700;
}

body {
    color: var(--clr-dark);
    font-family: 'Quicksand', sans-serif;
	font-size: 0.6rem;
	overflow: hidden;
}

header {
    z-index: 0;
    height: 100vh;
    background-image: url(bg.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Primary btn animation */
@keyframes move {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(2px);
    }
}

.btn {
    color: white;
    padding: .7em 2em;
    border-radius: 63px;
    text-decoration: none;
    text-align: center;
    font-weight: var(--fw-medium);
	font-size: 1.1rem;
	margin-top: 0.5rem;
}

.btn:hover {
    filter: brightness(1.2);
}

.btn-center {
    margin-right: auto;
    margin-left:  auto;
    max-width: 100%;
}

.btn-primary {
    background-color: var(--clr-red);
    box-shadow: 0px 6px 6px #AD2929;
    animation: move 1s infinite alternate;
}

.btn-info {
    background-color: var(--clr-orange);
    box-shadow: 0px 4px 8px rgb(138, 32, 0);
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 70vh;
}

.logo img {
    max-width: 300px;
	height: auto;
}

.card {
    margin-bottom: 1.5rem;
    /* height: 2%; */
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
    border-radius: 10px;
    color: var(--clr-black);
    /* background-color: var(--clr-light); */
    /* box-shadow: 0 8px 6px 2px rgba(0,0,0,0.2); */
}

#countdown {
	display: flex;
	flex-direction: row;
    color: var(--clr-orange);
    border-radius: 20px;
}

.days, .hours, .minutes, .seconds, .left, .text {
  display: inline-block;
  background-color: white;
  margin: 0.2rem;
  padding: 0.5rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 8px 6px 2px rgba(0,0,0,0.2);
}

.text {
	background-color: var(--clr-red);
	color:white;
}

.c-number {
  color: var(--clr-dark);
  font-weight: var(--fw-bold);
  font-size: 1rem;
}

.social {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.fa {
	padding: 20px;
	font-size: 30px;
	text-align: center;
	text-decoration: none;
	opacity: 0.7;
}

.fa:hover {
	opacity: 1;
}

.fa-facebook {
	color: white;
}
.fa-youtube-play {
	color: white;
}

.fa-instagram {
	color: white;
}

@media only screen and (min-width: 620px) {

	body {
		font-size: 0.8rem;
	}

    .c-number {
		font-size: 2rem;
	}

	.days, .hours, .minutes, .seconds, .left, .text {
		margin: 0.2rem;
		padding: 1rem;
		border-radius: 10px;
	}
}