<div class="card">
    <div class="card--height">
        <img src="{{ include.cover | relative_url }}" alt="Card's cover"><span class="gradient"></span>
    </div>                                                                                                                
    <div class="card__content">
        <h2>{{ include.title }}</h2>
        <p>{{ include.description }}</p>
        <a href="{{ include.url | relative_url }}" class="btn btn--info">{{ include.btn_text }} </a>
    </div>
</div>