<!-- card -->                                                                                                                     
<div class="card">                                                                                                                
    <img src="{{ include.cover }}" alt="This is a card cover">
    <div class="card__content">
        <h2>{{ include.title }}</h2>
        <p>{{ include.description }}</p>
        <a href="" class="btn btn-info">{{ include.btn_text }} </a>
    </div>
</div> 