{% assign category = site.data.categories[include.position] %}
<section id="{{ category.name | downcase }}">
    <div class="panel">
        <div class="wrapper-carousel">
            <div class="wrapper--home">
                <h2>{{ category.name | upcase }}</h2>
            </div>
            <div class="container--card">
                {% for card in site.pages %}
                    {% if card.category == category.name and card.url contains "index.html" %}
                        {% include card.html 
                            url=card.url
                            cover=card.cover
                            title=card.title 
                            description=card.description 
                            btn_text="Learn More" 
                        %}
                    {% elsif card.category == category.name and card.pagination.enabled == false %}
                        {% include card.html 
                            url=card.url
                            cover=card.cover
                            title=card.title 
                            description=card.description 
                            btn_text="Learn More" 
                        %}
                    {% endif%}
                {% endfor %}
            </div>
        </div>
    </div>
</section>