{% capture gpath %}assets/img/{{ include.category }}/{% endcapture %}

<div class="panel">
    <div class="wrapper-carousel">
        <div class="wrapper">
            <h2>Gallery</h2>
        </div>
        <div class="container--galleryimg">
            {% for image in site.static_files %}
                {% if image.path contains gpath %}
                    <div class="galleryimg">
                        <img src="{{ image.path }}" alt="Volunteers">
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>