{% capture gpath %}assets/img{{ include.category }}{% endcapture %}
{% assign image_files = site.static_files | where: "image", true | where_exp: "item", "item.path contains gpath" %}
<div class="panel">
    <div class="wrapper-carousel">
        <div class="wrapper">
            <h2>Gallery</h2>
        </div>
        <div class="container--galleryimg">
            {% comment %} If the first image needs to be skipped, offset atribute can be used {% endcomment %}
            {% for image in image_files %}
                <div class="galleryimg">
                    <img  onclick="lightbox(this)" src="{{ image.path }}" alt="">
                </div>
            {% endfor %}
        </div>
    </div>
</div>