<nav class="nav">
    <a  onclick="navigation()" href="#" class="hide-desktop">
        <i class="fa fa-bars menu" id="menu" style="font-size:38px;"></i>
    </a>

    <ul class="nav__list show-desktop hide-mobile" id="nav">
        <li id="exit" class="exit-btn hide-desktop"><i class="fa fa-close" style="font-size:38px;"></i></li>
        {% for category in site.data.categories %}
            {% if category.name == "contact" %}
            <li class="nav__list-item"><a class="nav__link" href="/{{ category.name | downcase }}">{{ category.name | upcase }}</a></li>
            {% else %}
            <li class="nav__list-item"><a class="nav__link" href="#{{ category.name | downcase }}">{{ category.name | upcase }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>