<!-- Position parameter means which option in the navigation.yml is going to be used/represented. 
Automatically obtains the link
-->

{% assign item = site.data.navigation[include.position] %}
<section id="{{ item.option | downcase }}">
    <div class="wrapper">
        <h2>{{ item.option | upcase }}</h2>
    </div>
    <div class="showcase">
        <p class="showcase__text">{{ include.text }}</p>
        <a href="{{ item.link | relative_url }}" class="btn btn-info">{{ include.btn_text }}</a>
    </div>
</section>