{% assign category = site.data.categories[include.position] %}
<section id="{{ category.name | downcase }}">
    <div class="wrapper--home">
        <h2>{{ category.name | upcase }}</h2>
    </div>
{% for showcase in site.pages %}
    {% if showcase.category == category.name %}
    <div class="showcase" style="background-image: url({{ showcase.cover | relative_url }});">
        <p class="showcase__text">{{ showcase.description }}</p>
        <a href="{{ category.link | relative_url }}" class="btn btn--info">{{ include.btn_text }}</a>
    </div>
    {% endif %}
{% endfor %}
</section>