// Primary btn animation
@keyframes move {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(2px);
    }
}

.btn {
    color: map-get($theme-colors, "white");
    padding: .7em 2em;
    border-radius: $roundness;
    text-decoration: none;
    text-align: center;
    font-weight: map-get($font-weights, "medium");
    font-size: 1.1rem;

    &:hover {
        filter: brightness(1.2);
    }
    
    &--center {
        margin-right: auto;
        margin-left: auto;
        max-width: 100%;

        @include breakpoint(screen 539px) {
            grid-column: 2;
        }
    }
    
    &--primary {
        background-color: map-get($theme-colors, "red");
        box-shadow: 0px 6px 6px #a83939;
        animation: move 1s infinite alternate;
    }
    
    &--info {
        background-color: map-get($theme-colors, "orange");;
        box-shadow: 0px 4px 8px rgb(116, 59, 41);
        margin-top: 1.2rem;
    }
    
    &--top {
        display: none;
        position: fixed;
        padding: 18px;
        bottom: 1em;
        right: 1em;
        border: none;
        outline: none;
        background-color: map-get($theme-colors, "medium");;
        cursor: pointer;
        border-radius: $roundness;
        box-shadow: 0 8px 4px 1px rgba(0,0,0,0.2);
        z-index: 5;
        
        img {
            width: 100%
        }

        &:hover {
            background-color: map-get($theme-colors, "orange");
        }
    }
}

.btn-back {
    position: fixed;
    top: 0;
    left: 0;
    background-color: map-get($theme-colors, "orange");
    padding: 0.8rem;
    font-weight: map-get($font-weights, "semibold");
    font-size: 1.5rem;
    border-radius: 0 0 $roundness 0;
    z-index: 100;
    cursor: pointer;
}