.container--galleryimg {
    padding: 0.6rem 1rem 3rem 2rem;
    display: flex;
    overflow-x: auto;

    @include breakpoint(screen 539px) {
        padding: 0.6rem 1rem 3rem 8%;
    }

    @include breakpoint(screen 1399px) {
        padding: 0.6rem 1rem 3rem 15%;
    }

    @include breakpoint(screen 1699px) {
        padding: 0.6rem 1rem 3rem 20%;
    }

    @include breakpoint(screen 1898px) {
        padding: 0.6rem 1rem 1.3rem 25%;
    }
}

// galleryimg
.galleryimg {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 15rem;
    margin-right: 2rem;
    border-radius: $roundness;
    color: map-get($theme-colors, "black");
    background-color: map-get($theme-colors, "light");
    box-shadow: 0 14px 10px rgba(0,0,0,0.2);
    transition: all .2s ease-in-out;
    
    img {
        border-radius: $roundness;
        width: 100%;
    }
    
    &:hover {
        box-shadow: 0 20px 20px rgba(0,0,0,0.2);
        transform: scale(1.014);
    }

    @include breakpoint(screen 374px) {
        flex: 0 0 18rem;
    }

    @include breakpoint(screen 899px) {
        flex: 0 0 21rem;
    }
}