// Used for applying css properties in a group of elements
.container {
    display: flex;
    flex-direction: column;

    @include breakpoint(screen 539px) {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
}