.container--list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 2rem; 

    @include breakpoint(screen 783px) {
        flex-direction: row;
        align-items: flex-start;
    }
}

.poster {
    .card {
        margin: 0 1rem 2.4rem 1rem;
        max-width: 20rem;
        position: relative;

        .gradient {
            position: absolute;
            top: 0;
            bottom:0;
            left: 0;
            right:0;
            width: 100%;
            height: 95%;
            z-index: 1;
            background: linear-gradient(0deg, map-get($theme-colors, "light") 10%, rgba(0,0,0,0) 80%);
            background-position:center;

        }
        
        &--height {
            height: 80%;
            
            @include breakpoint(screen 783px) {
                height: 28rem;
            }
        }

        &__content {
            text-align: center;
            z-index: 2;
        }
    }
}