// Used for applying "responsive" css properties in a group of elements
.wrapper--home {
    margin-right: auto;
    margin-left:  auto;
    max-width: 90%;

    @include breakpoint(screen 1399px) {
        max-width: 1150px;
    }
}