.wrapper--default {
    margin-right: auto;
    margin-left:  auto;
    max-width: 90%;

    @include breakpoint(screen 1300px) {
        max-width: 1080px;
    }
}

.page-title {
    display: flex;
    justify-content: center;
    letter-spacing: 0.1rem;
    padding: 2.4rem;
}

.cover-img {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, map-get($theme-colors, "dark") 65%), url(../img/3_Volunteers/1_Volunteers.jpg) no-repeat;
    background-size: auto;
}