.post-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0.5rem 0.5rem 1.3rem 0.5rem;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 14px 10px rgba(0,0,0,0.2);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, map-get($theme-colors, "light") 100%), url(../img/2_Events/3_Workshop.jpg) no-repeat;
    background-size: cover;
    transition: all .15s ease-in-out;
    
    
    &__link {
        text-decoration: underline;
        color: map-get($theme-colors, "dark");
    }
    
    &__date, &__title {
        color: map-get($theme-colors, "dark");
        font-weight: map-get($font-weights, "bold");
        letter-spacing: 0;
        margin:0;
    }
    
    &__date {
        font-size: 1rem;
    }
    
    &:hover {
        filter: brightness(1.2);
        box-shadow: 0 20px 20px rgba(0,0,0,0.2);
        transform: scale(1.016);
    }
    
    @include breakpoint(screen 539px) {
        padding-top: 4rem;
    }
}

.container--feed {
    display: flex;
    flex-direction: column;
}