/* Setting up */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5 {
    font-weight: var(--fw-semibold);
    letter-spacing: .15em;
    margin: 1em 0 1em 0;
}

p {
    text-align: justify;
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    --clr-red: #F84444;
    --clr-orange: #F76844;
    --clr-accent: #5F897F;
    --clr-light: #EEE7CB;
    --clr-medium: #EEC98F;
    --clr-dark: #19191B;

    --clr-black: black;
    --clr-white: white;

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
}

/* ^^ INCLUDED IN SASS */

/* Global classes */
body {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    background-color: var(--clr-dark);
    font-family: 'Quicksand', sans-serif;
    font-size: 1.125rem;
    color: var(--clr-medium);
}

section {
    margin-bottom: 50%;
}

/* Buttons */
.btn {
    color: white;
    padding: .7em 2em;
    border-radius: 63px;
    text-decoration: none;
    text-align: center;
    font-weight: var(--fw-medium);
    font-size: 1.1rem;
}


.btn:hover {
    filter: brightness(1.2);
}

.btn-center {
    margin-right: auto;
    margin-left:  auto;
    max-width: 100%;
}

.btn-primary {
    background-color: var(--clr-red);
    box-shadow: 0px 6px 6px #AD2929;
    animation: move 1s infinite alternate;
}

.btn-info {
    background-color: var(--clr-orange);
    box-shadow: 0px 4px 8px rgb(138, 32, 0);
    margin-top: 1.2rem;
}

.btn-top {
    display: none;
    position: fixed;
    width: 64px;
    padding: 15px;
    bottom: 1em;
    right: 1em;
    border: none;
    outline: none;
    background-color: var(--clr-medium);
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 8px 4px 1px rgba(0,0,0,0.2);
    z-index: 5;
}

.btn-top img {
    width: 100%
}

/* Used for element manipulation by media queries */
.wrapper {
    margin-right: auto;
    margin-left:  auto;
    max-width: 90%;
}

.page-title {
    display: flex;
    justify-content: center;
    letter-spacing: 0.1rem;
    padding: 2.4rem;
}

.cover-img {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, var(--clr-dark) 50%), url(../img/3_Volunteers/1_Volunteers.jpg) center;
    /* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(50%, var(--clr-dark)), color-stop(100%, rgba(0, 0, 0, 0.65))), url(../img/3_Volunteers/1_Volunteers.jpg) no-repeat; */
    /* background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url(../img/2_Events/3_Workshop.jpg) no-repeat; */
    /* background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url(../img/2_Events/3_Workshop.jpg) no-repeat; */
    /* background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url(../img/2_Events/3_Workshop.jpg) no-repeat; */
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url(../img/2_Events/3_Workshop.jpg) no-repeat; */
    background-size: auto;
}

.footer {
    background-color: var(--clr-light);
    color: var(--clr-dark);
}

.footer__content{
    padding: 20% 10% 15% 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.hide-corners {
    transform: skewY(2.8deg);
    background-color: var(--clr-dark);
    padding: 1rem;
    margin-bottom: -3%;
}

/* iphone 6/7/8 plus */
@media only screen and (min-width: 560px) {
    
    .btn-center {
        grid-column: 2 ;
    }

    .footer__content{
        padding: 14% 10% 10% 10%;
    }

    .hide-corners {
        padding: 2rem;
        margin-bottom: -4%;
    }
}

@media only screen and (min-width: 899px) {

    section {
        margin-bottom: 35%;
    }

    .hide-corners {
        transform: skewY(1.2deg);
        padding: 2rem;
        margin-bottom: -3%;
    }
}

/* Show navigation bar */
@media only screen and (min-width: 1024px) {

    section {
        margin-bottom: 35%;
    }

    .footer__content{
        padding: 10% 10% 8% 10%;
    }
}

/* MDPI Laptop */
@media only screen and (min-width: 1199px) {
    
    .footer__content{
        padding: 8% 10% 6% 10%;
    }
}

@media only screen and (min-width: 1300px ) {

    .wrapper {
       max-width: 1080px;
    }
}

@media only screen and (min-width: 1590px ) {

    .hide-corners {
        transform: skewY(1.2deg);
        padding: 3rem;
        margin-bottom: -2%;
    }
}