/* Setting up */
*, *::before, *::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
    font-weight: var(--fw-semibold);
    letter-spacing: .15em;
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    --clr-red: #F84444;
    --clr-orange: #F76844;
    --clr-accent: #5F897F;
    --clr-light: #EEE7CB;
    --clr-medium: #EEC98F;
    --clr-dark: #19191B;

    --clr-black: black;
    --clr-white: white;

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
}

/* Primary btn animation */
@keyframes move {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(2px);
    }
}

/* Global classes */
body {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    background-color: var(--clr-dark);
    font-family: 'Quicksand', sans-serif;
    font-size: 1.125rem;
    color: var(--clr-medium);
}

header {
    height: 100vh;
    background-image: url(../img/1_Landing/Landing_2);
    background-position: center;
    background-size: cover;
}

section {
    margin-bottom: 20%;
}

/* Used for element manipulation by media queries */
.wrapper {
    margin-right: auto;
    margin-left:  auto;
    max-width: 90%;
}

.wrapper-carousel {
    transform: skewY(2.8deg);
    padding: .3rem 0 .3rem 0;
}

/* Used for applying css properties in a group of elements */
.container {
    display: flex;
    flex-direction: column;
}

/* Buttons */
.btn {
    color: white;
    padding: .7em 2em;
    border-radius: 63px;
    text-decoration: none;
    text-align: center;
    font-weight: var(--fw-medium);
    font-size: 1.1rem;
}


.btn:hover {
    filter: brightness(1.2);
}

.btn-center {
    margin-right: auto;
    margin-left:  auto;
    max-width: 100%;
}

.btn-primary {
    background-color: var(--clr-red);
    box-shadow: 0px 6px 6px #AD2929;
    animation: move 1s infinite alternate;
}

.btn-info {
    background-color: var(--clr-orange);
    box-shadow: 0px 4px 8px rgb(138, 32, 0);
    margin-top: 1.2rem;
}

.btn-top {
    display: none;
    position: fixed;
    width: 64px;
    padding: 15px;
    bottom: 1em;
    right: 1em;
    border: none;
    outline: none;
    background-color: var(--clr-medium);
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 8px 4px 1px rgba(0,0,0,0.2);
    z-index: 5;
}

.btn-top img {
    width: 100%
}

/* Navigation bar */
.hide-mobile {
    display: none;
}

.menu {
    display: flex;
    justify-content: left;
    /* width: 50px; */
    padding: 30px 30px 0 30px;
}

.nav__list {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    text-align: left;
    background-color: var(--clr-dark);
    padding-top: 2em;
    z-index: 5;
}

.nav__link {
    display: block;
    width: 100%;
    padding: 1em 2em;
    color: var(--clr-medium);
    text-decoration: none;
}

.nav__link:hover {
    background-color: var(--clr-medium);
    color: var(--clr-dark);
    width: auto;
}

.exit-btn {
    margin-bottom: 1rem;
    padding: 0 2rem;
    text-emphasis: right;
}

.exit-btn img{
    width: 35px;
    cursor: pointer;
}


/* Logo */
.logo {
    margin: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 70vh;
}

.logo img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1.7em;
}


/* Posts */
.post-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0.5rem 0.5rem 1.3rem 0.5rem;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0px 6px 15px #000;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, var(--clr-light) 100%), url(../img/2_Events/3_Workshop.jpg) center;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, var(--clr-light)), color-stop(100%, rgba(0, 0, 0, 0.65))), url(../img/2_Events/3_Workshop.jpg) no-repeat;
    /* background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url(../img/2_Events/3_Workshop.jpg) no-repeat; */
    /* background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url(../img/2_Events/3_Workshop.jpg) no-repeat; */
    /* background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url(../img/2_Events/3_Workshop.jpg) no-repeat; */
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url(../img/2_Events/3_Workshop.jpg) no-repeat; */
    background-size: cover;
    transition: all .15s ease-in-out;
}

.post-box__link {
    text-decoration: underline;
    color: var(--clr-dark);
}

.post-box__date, .post-box__title {
    color: var(--clr-dark);
    font-weight: var(--fw-bold);
    letter-spacing: 0;
    margin:0;
}

.post-box__date {
    font-size: 1rem;
}

.post-box:hover {
    filter: brightness(1.2);
    transform: scale(1.016);
}

/* Carousel */
.panel {
    margin-top: 3rem;
    padding: 4% 0 8% 0;
    background-color: var(--clr-accent);
    transform: skewY(-2.8deg);
    box-shadow: 0px 4px 4px rgb(0.2, 0, 0);
}

.card-container {
    padding: 0.6rem 1rem 1.3rem 2rem;
    display: flex;
    overflow-x: auto;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 15rem;
    margin-right: 2rem;
    border-radius: 20px;
    color: var(--clr-black);
    background-color: var(--clr-light);
    box-shadow: 0 8px 6px 2px rgba(0,0,0,0.2);
    transition: all .2s ease-in-out;
}

.card img {
    border-radius: 20px 20px 0 0;
    width: 100%;
}

.card:hover {
    transform: scale(1.02);
}

.card__content {
    display: flex;
    flex-direction: column;
    padding: 0.4rem 1.3rem 2rem;
}

.card__content h2 {
    margin-top: 0.5rem;
    margin-bottom: 0rem;
}

.card__content p {
    margin-bottom: 0.2rem;
}

/* Showcase */
.showcase::before {
    background-color: var(--clr-light);
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity : 0.34;
    z-index: -1;
}

.showcase {
    z-index: 0;
    color: var(--clr-light);
    background-image: url(../img/3_Volunteers/1_Volunteers.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
    padding: 5rem 2rem;
    margin-bottom: 28%;
}

/* Media blobs */
.blob {
    margin-bottom: 1.4rem;
    padding: 2.8rem;
    text-align: center;
    border-radius: 20px;
    height: 100%;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, var(--clr-light) 150%), url(../img/1_Landing/Landing_2) center;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, var(--clr-light)), color-stop(100%, rgba(0, 0, 0, 0.65))), url(../img/1_Landing/Landing_2) no-repeat;
    /* background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url(../img/2_Events/3_Workshop.jpg) no-repeat; */
    /* background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url(../img/2_Events/3_Workshop.jpg) no-repeat; */
    /* background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url(../img/2_Events/3_Workshop.jpg) no-repeat; */
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url(../img/2_Events/3_Workshop.jpg) no-repeat; */
    background-size: cover;
    box-shadow: 0 8px 6px 2px rgba(0,0,0,0.2);
    transition: all .1s ease-in-out;
}

.blob__link {
    text-decoration: none;
    color: var(--clr-light);
}

.blob:hover {
    filter: brightness(1.2);
    transform: scale(1.01);
}


/* Adjusting cards */
@media only screen and (min-width: 374px) {
    
    .card {
        flex: 0 0 18rem;
    }
}

/* iphone 6/7/8 plus */
@media only screen and (min-width: 539px) {

    section {
        margin-bottom: 13%;
    }
    
    .btn-center {
        grid-column: 2 ;
    }

    .container {
        flex-direction: row;
        justify-content: center;
    }

    .container-feed {
        display: grid;
        grid-template-columns: [col1] 33.3% [col2] 33.3% [col3] 33.3%;
    }

    .post-box {
        padding-top: 7rem;
    }

    .panel {
        padding: 2% 0 5% 0;
    }

    .card-container {
        padding: 0.6rem 1rem 1.3rem 8%;
    }

    .showcase {
        padding: 9rem 2rem;
        margin-bottom: 18%;
    }


    .blob {
        margin: 0 1.5% 0 1.5%;
        padding: 10% 15%;
    }
}

/* ipad */
@media only screen and (min-width: 699px) {

    .showcase::before {
        left: 50%;
        width: 50%;
    }
    
    .showcase {
        padding: 5rem 5% 5rem 55%;
    }
}

@media only screen and (min-width: 899px) {

    section {
        margin-bottom: 5rem;
    }

    .wrapper-carousel {
        transform: skewY(1.2deg);
    }

    .container-blob {
        justify-content: space-evenly;
    }

    .post-box {
        padding-top: 12rem;
    }

    .panel {
        padding: 2% 0 4% 0;
        transform: skewY(-1.2deg);
    }
    
    .card {
        flex: 0 0 21rem;
    }

    .showcase {
        margin-bottom: 8rem;
    }
    
    .blob {
        margin-top: 1rem;
        padding: 8% 18%;
    }

}

/* Show navigation bar */
@media only screen and (min-width: 1024px) {

    .show-desktop {
        display: block;
        margin: 0 auto 13% auto;
    }

    .hide-desktop {
        display: none;
    }

    .nav__list {
        padding-top: 0;
        margin: 0;
        position: static;
        width: auto;
        background: none;
        text-align: center;
        list-style: none;
    }
    
    .nav__list-item {
        display: inline-block;
    }
    
}

/* MDPI Laptop */
@media only screen and (min-width: 1199px) {
    
    .panel {
        padding: 1% 0 3% 0;
        transform: skewY(-1.2deg);
    }
}

@media only screen and (min-width: 1399px ) {

    .wrapper {
       max-width: 1150px;
    }

    .card-container {
        padding: 0.6rem 1rem 1.3rem 15%;
    }

    .showcase::before {
        left: 60%;
        width: 40%;
    }
    
    .showcase {
        padding: 5rem 5% 5rem 65%;
    }
}

@media only screen and (min-width: 1699px ) {

    .card-container {
        padding: 0.6rem 1rem 1.3rem 20%;
    }
}

@media only screen and (min-width: 1898px ) {

    .card-container {
        padding: 0.6rem 1rem 1.3rem 25%;
    }
}
