*, *::before, *::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
    font-weight: var(--fw-semibold);
    letter-spacing: .15em;
}

:root {
    --clr-red: #F84444;
    --clr-orange: #F76844;
    --clr-accent: #5F897F;
    --clr-light: #EEE7CB;
    --clr-medium: #EEC98F;
    --clr-dark: #19191B;

    --clr-black: black;
    --clr-white: white;

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
}

/* Primary btn animation */
@keyframes move {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(2px);
    }
}

/* Global classes */
body {
    padding: 0;
    margin: 0;
    background-color: var(--clr-dark);
    font-family: 'Quicksand', sans-serif;
    font-size: 1.125rem;
    color: var(--clr-medium);
    /* line-height: 1.38;   TODO: Check if this is necessary */ 
}

header {
    height: 100vh;
    background-image: url(/assets/img/1_Landing/Landing_2);
    background-position: center;
    background-size: cover;
}

section {
    margin-bottom: 4rem;
}

/* Used for element manipulation by media queries */
.wrapper {
    margin-right: auto;
    margin-left:  auto;
    max-width: 285px;
}

.wrapper-carousel {
    transform: skewY(2.8deg);
    padding: .3rem 0 .3rem 0;
}

/* Used for applying css properties in a group of elements */
.container {
    display: flex;
    flex-direction: column;
}


.btn {
    color: white;
    padding: .7em 2em;
    border-radius: 63px;
    text-decoration: none;
    text-align: center;
    font-weight: var(--fw-medium);
    font-size: 1.1rem;
}


.btn:hover {
    filter: brightness(1.2);
}

.btn-center {
    margin-right: auto;
    margin-left:  auto;
    max-width: 100%;
}

.btn-primary {
    background-color: var(--clr-red);
    box-shadow: 0px 6px 6px #AD2929;
    animation: move 1s infinite alternate;
}

.btn-info {
    background-color: var(--clr-orange);
    box-shadow: 0px 4px 8px rgb(138, 32, 0);
    margin-top: 1.2rem;
}

.nav {
    display: flex;
    justify-content: center;
}

.nav__list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    /* font-size: 1.25rem; */
}

.nav__link {
    padding: 0.7em 1.4em 0.7em 1.4em;
    text-decoration: none;
    color: inherit;
    display: flex;
}

.nav__link:hover {
    color: var(--clr-dark);
    background-color: var(--clr-medium);
}

.logo {
    margin: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 70vh;
}

.logo img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1.7em;
}

.post-box {
    margin: 0.5rem 0.5rem 1.3rem 0.5rem;
    padding: 4rem 1rem 1rem;
    border-radius: 20px;
    box-shadow: 0px 6px 15px #000;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, var(--clr-light) 100%), url(/assets/img/2_Events/3_Workshop.jpg) center;
    /* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(59%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65))), url(/assets/img/2_Events/3_Workshop.jpg) no-repeat; */
    /* background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url(/assets/img/2_Events/3_Workshop.jpg) no-repeat; */
    /* background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url(/assets/img/2_Events/3_Workshop.jpg) no-repeat; */
    /* background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url(/assets/img/2_Events/3_Workshop.jpg) no-repeat; */
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url(/assets/img/2_Events/3_Workshop.jpg) no-repeat; */
    background-size: cover;
    transition: all .2s ease-in-out;
}

.post-box__date, .post-box__title {
    color: var(--clr-dark);
    font-weight: var(--fw-bold);
    letter-spacing: 0;
    margin:0;
}

.post-box__date {
    font-size: 1rem;
}

.post-box:hover {
    transform: scale(1.02);
}

.panel {
    margin-top: 3rem;
    background-color: var(--clr-accent);
    transform: skewY(-2.8deg);
    box-shadow: 0px 4px 4px rgb(0.2, 0, 0);
}

.card-container {
    padding: 0.6rem 1rem 2rem 2rem;
    display: flex;
    overflow-x: auto;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 90%;
    margin-right: 2rem;
    border-radius: 20px;
    color: var(--clr-black);
    background-color: var(--clr-light);
    box-shadow: 0 8px 6px 2px rgba(0,0,0,0.2);
    transition: all .2s ease-in-out;
}

.card img {
    border-radius: 20px 20px 0 0;
    width: 100%;
}

.card:hover {
    transform: scale(1.02);
}

.card__content {
    display: flex;
    flex-direction: column;
    padding: 0.4rem 1.3rem 2rem;
}

.card__content h2 {
    margin-top: 0.5rem;
    margin-bottom: 0rem;
}

.card__content p {
    margin-bottom: 0.2rem;
}

.showcase::before {
    background-color: var(--clr-light);
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity : 0.34;
    z-index: -1;
}

.showcase {
    z-index: 0;
    color: var(--clr-light);
    background-image: url(/assets/img/3_Volunteers/1_Volunteers.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 4.5rem 2rem;
    margin-bottom: 6rem;
}