---
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="{{ "assets/css/styles.css" | relative_url }}" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap" rel="stylesheet">
		
		<!-- Quality of life metadata -->
		<link rel="shortcut icon" type="image/x-icon" href="{{ "favicon.png" | relative_url }}"/>
		<meta name="theme-color" content="#19191B">
		<title>{% if page.layout == "home" %}{{ site.title }}{% else %}{{ site.title }} | {{ page.title }}{% endif %}</title>
	</head>
	<body>

		{{ content }}

		<!-- Scripts -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="{{ "assets/js/modules.js" | relative_url }}"></script>
	</body>
</html>