---
layout: default
---
<header class="header">
    <div class="btn-back"><a onclick="goBack()"><-</a></div>
    <img class="bg-img" src="{{ page.bg | relative_url }}"><span class="gradient"></span>
</header>
<main class="wrapper">
    {{ content }}

    <!-- Move this to an include -->
    {% if page.bands %}
    <section class="lineup">
        <h2>LINEUP</h2>
        <div class="container">
            {% for i in page.bands %}
                {% for j in site.bands %}
                    {% assign band = j.title %}
                    {% if band == i %}
                    <div class="blob">
                        <a class="blob__link" href="{{ j.url | relative_url }}"><h2>{{ j.title }}</h2></a>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </section>
    {% endif %}

</main>

<!-- Carousel -->
{% include carousel.html other="activities" %}

<!-- showcase -->
{% include showcase.html other="locations"
    btn_text="Learn More"
%}

<!-- Media -->
{% include media.html position=4 blob1="Photos" blob2="Videos" %}