---
layout: default
---
<!-- Main  -->
{% assign page-title = page.title %}
<section id="{{ page-title | downcase }}">
    <div class="cover-img"
    {% if page.cover %}
        style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, #19191B 65%), url({{ page.cover | relative_url }}) no-repeat;"
    {% endif %}>
        <div class="btn-back"><a onclick="goBack()"><-</a></div>
        <div class="page-title">
            <h2>{{ page.title | upcase }}</h2>
        </div>
        <div class="wrapper--info">
            {{ content }}
        </div>
    </div>
</section>

<!-- Footer  -->
{% include footer--standard.html %}