---
# 2019 photos
layout: standard
year: 2019
title: Photos 2019
image: assets/img/2019/poster_2019.jpg
bands:
    - placeholder # so that it can have the gradient
bg: assets/img/2019/cover_2019_comp.jpg
---

<!-- where image = true because it is set on the config -->
{% assign image_files = site.static_files | where: "image", true | where_exp: "item", "item.path contains 'volunteers'" %}

<div class="container">
    {% for image in image_files %}
        {% include image.html path=image.path alt="2019 Photo album" width="500" %}
    {% endfor %}
</div>